<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer>
    <div class="find-us">
        <h3>Find us</h3>
        <div class="address">
            <div style="padding-bottom: 10px">
                <i class="fa-solid fa-location-dot"></i> 77 Spring Street
                <br>Shevchenka District, Lviv 12012
            </div>

            <div>
                <i class="fa-solid fa-location-dot"></i> 111 Hibernate Street
                <br>Obolon District, Kyiv 32087
            </div>
        </div>
    </div>
    <div class="information">
        <h3>Information</h3>
        <ul>
            <li>About us</li>
            <li>Render</li>
            <li>Delivery</li>
            <li>Return of goods</li>
            <li>Loyalty program</li>
        </ul>
    </div>
    <div class="cooperation">
        <h3>Cooperation</h3>
        <ul>
            <li>Corporate cooperation</li>
            <li>Give a propose about book</li>
            <li>Found a fault?</li>
            <li>Internation cooperation</li>
        </ul>
    </div>
    <div class="contacts">
        <h3>Contact Us</h3>
        <div class="social-networks">
            <img src="/pictures/contacts/instagram.png">
            <img src="/pictures/contacts/telegram.png">
            <img src="/pictures/contacts/facebook.png">
            <img src="/pictures/contacts/whatsapp.png">
        </div>
        <div class="telephones">
            <i class="fa-solid fa-phone-volume"></i>
            <a href="tel: +380970976123"> +380970976123</a>
            <a href="tel: +380955916143"> +380955916143</a>
        </div>
        <div class="gmail">
            <a href="mailto: bookShop@gmail.com"><i class="fa-solid fa-at"></i> bookShop@gmail.com</a>
        </div>
    </div>
    <div class="up"><a href="/"><i class="fa-solid fa-chevron-up"></i></a></div>
</footer>
</body>
</html>